{% extends 'module:udashboard:views/Page/page.html.twig' %}

{% block item %}
  <tr>
    <td>{{ item.name }}</td>
    <td>{% if item.is_locked %}{{ "Non editable"|trans }}{% else %}{{ "Editable"|trans }}{% endif %}</td>
    <td>
      {{ calista_actions(item) }}
    </td>
  </tr>
{% endblock %}

{% block item_list %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{ "Label"|trans }}</th>
        <th>{{ "Status"|trans }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {{ block('item') }}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
