{# No spaces between tags for inline-block override #}
{% spaceless %}
  <div class="btn-group" role="group" aria-label="actions">
    {% if primary %}
      {% for group in primary %}
        {% for link in group %}
          <a href="{{ url(link.href, link.options) }}"{{ link.options.attributes|attributes }}>
            {% if link.icon %}
              <span class="glyphicon glyphicon-{{ link.icon }}" aria-hidden="true"></span>
            {% endif %}
            {% if link.icon and not show_title %}
              <span class="sr-only">{{ link.title|check_plain }}</span>
            {% else %}
              {{ link.title|check_plain }}
            {% endif %}
          </a>
        {% endfor %}
      {% endfor %}
    {% endif %}
    {% if secondary %}
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="actions">
          {% if not primary %}
            {% if icon %}
              <span class="glyphicon glyphicon-{{ icon }}" aria-hidden="true"></span>
            {% endif %}
            {% if title %}
              {% if show_title %}
                {{ title|check_plain }}
              {% else %}
                <span class="sr-only">{{ title|check_plain }}</span>
              {% endif %}
            {% endif %}
          {% else %}
            <span{% if primary %} class="sr-only"{% endif %}>{{ "More actions"|t }}</span>
          {% endif %}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          {% set sep = false %}
          {% for group in secondary %}
            {% if sep %}
              <li class="separator">
                <hr/>
              </li>
            {% endif %}
            {% for link in group %}
              <li>
                <a href="{{ url(link.href, link.options) }}"{{ link.options.attributes|attributes }}>
                  {% if link.icon %}
                    <span class="glyphicon glyphicon-{{ link.icon }}" aria-hidden="true"></span>
                  {% endif %}
                  {{ link.title|check_plain }}
                </a>
              </li>
            {% endfor %}
            {% set sep = true %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
{% endspaceless %}
