<div class="btn-group" role="group" aria-label="actions">
  {% if primary %}
    {% for link in primary %}
      <a href="{{ url(link.href, link.options) }}"{{ link.options.attributes|attributes }}>
        {% if link.icon %}
          <span class="glyphicon glyphicon-{{ link.icon }}" aria-hidden="true"></span>
        {% endif %}
        {% if icon %}
          <span class="sr-only">{{ link.title|check_plain }}</span>
        {% else %}
          {{ link.title|check_plain }}
        {% endif %}
      </a>
    {% endfor %}
  {% endif %}
  {% if secondary %}
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="actions">
        {% if not primary and title %}
          {{ title }}
        {% else %}
          <span{% if primary %} class="sr-only"{% endif %}>{{ "More actions"|t }}</span>
        {% endif %}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        {% for link in secondary %}
          <li>
            <a href="{{ url(link.href, link.options) }}"{{ link.options.attributes|attributes }}>
              {% if link.icon %}
                <span class="glyphicon glyphicon-{{ link.icon }}" aria-hidden="true"></span>
              {% endif %}
              {{ link.title|check_plain }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
