<nav id="toolbar" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
        <span class="sr-only">{{ "Toggle navigation"|t }}</span>
      </button>
      <a class="navbar-brand" href="{{ url('admin') }}">
        <span aria-hidden="true" class="glyphicon glyphicon-home"></span>
        <span class="sr-only">{{ "Administration"|t }}</span>
      </a>
      <span class="navbar-text">
        {{ "Welcome @user"|t({'@user':user.displayName}) }}
      </span>
    </div>
    <div class="collapse navbar-collapse" id="nav-collapse">
      {{ links }}
    </div>
  </div>
</nav>
