<div id="contextual-pane" class="pane-right navbar-inverse">
  <div id="contextual-pane-toggle">
    {% for key, tab in tabs %}
      <a href="#tab-{{ key }}" data-toggle="tooltip" data-placement="left" title="{{ tab.label }}" data-container="body">
        <span class="glyphicon glyphicon-{{ tab.icon }}"></span>
        {% if tab.count %}
          <span class="badge{% if tab.count > 0 %} badge-unread{% endif %}">{{ tab.count }}</span>
        {% endif %}
      </a>
    {% endfor %}
  </div>
  <div class="inner inverse">
    <div class="actions">
      <a href="#" id="contextual-pane-switch-position" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-collapse-down"></span>
      </a>
      {{ actions }}
    </div>
    <div class="tabs">
      {% for key, tab in tabs %}
        <div id="tab-{{ key }}">
          {{ items[key] }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
