<nav id="toolbar" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
        <span class="sr-only">{{ "Toggle navigation"|t }}</span>
      </button>
      <ul class="nav navbar-nav">
        <li>
          {% if is_granted('access administration pages') %}
            <a class="navbar-brand" href="{{ url('admin') }}">
              <span aria-hidden="true" class="glyphicon glyphicon-home"></span>
              <span class="sr-only">{{ "Administration"|t }}</span>
            </a>
          {% else %}
            <span class="navbar-text">
              <span aria-hidden="true" class="glyphicon glyphicon-home"></span>
            </span>
          {% endif %}
        </li>
        {% if user.authenticated %}
          <li>
            {% if is_granted('access administration pages') %}
              <a href="{{ url('admin/dashboard') }}">
                {{ "Welcome @user"|t({'@user':user.displayName}) }}
              </a>
            {% else %}
              <span class="navbar-text">
                {{ "Welcome @user"|t({'@user':user.displayName}) }}
              </span>
            {% endif %}
          </li>
          {% if site %}
            <li>
              <a href="{{ url('') }}">
                {{ site.title_admin }}
              </a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="nav-collapse">
      {{ links }}
    </div>
  </div>
</nav>
