<div id="ucms-contrib-facets" class="col-md-2">
  {{ displayLinks }}
  {% for filter in filters %}
    {{ filter }}
  {% endfor %}
</div>
<div id="ucms-contrib-results" class="col-md-10">
  <div class="row">
    <div class="col-md-12">
      {{ search }}
      {% if sort_field %}
        <div class="pull-right sort-links">
          <span class="text-muted">{{ "Sort by:"|t }}</span>
          {{ sort_field }}
          {{ sort_order }}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    {{ displayView }}
  </div>
  <div class="row">
    {{ pager }}
  </div>
</div>
