<ul>
  {% for site in sites %}
    <li>
      {% if site.id in allowed %}
        <a href="{{ ucms_site_url(site, 'node/' ~ node.id) }}">
          {{ site.title|escape }}
        </a>
      {% else %}
        <a disabled="disabled" class="disabled" href="{{ ucms_site_url(site, 'node/' ~ node.id) }}">
          {{ site.title|escape }}
        </a>
      {% endif %}
      {% if origin and site.id == origin.id %}
        ({{ "Origin"|trans }})
      {% endif %}
    </li>
  {% endfor %}
</ul>
