{% extends 'module:udashboard:views/Page/page.html.twig' %}

{% block item %}
  <tr>
    <td>{% if item.sourceTitle %}{{ item.sourceTitle }}{% else %}<em>{{ "Error"|trans }}</em>{% endif %}</td>
    <td>{{ field_name(item.fieldName, 'node', item.sourceBundle) }}</td>
    <td>{% if item.targetTitle %}{{ item.targetTitle }}{% else %}<em>{{ item.targetId }}</em>{% endif %}</td>
    <td>{% if item.targetExists %}{{ "Unpublished"|t }}{% else %}{{ "Deleted"|t }}{% endif %}</td>
    <td>
      {% set type = item.type %}
      {% if type == 'link' %}
        {{ "Link"|t }}
      {% elseif type == 'media' %}
        {{ "Media"|t }}
      {% elseif type == 'unknown' %}
        {{ "Undefined"|t }}
      {% else %}
        {{ type }}
      {% endif %}
    </td>
    <td>
      <a href="{{ path('node/' ~ item.sourceId) }}" title="{{ "View"|trans }}" class=" btn btn-default">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        <span class="sr-only">{{ "View"|trans }}</span>
      </a>
    </td>
  </tr>
{% endblock %}

{% block item_list %}
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>{{ "Title"|trans }}</th>
        <th>{{ "Field"|trans }}</th>
        <th>{{ "Destination"|trans }}</th>
        <th>{{ "Reason"|trans }}</th>
        <th>{{ "Type"|trans }}</th>
        <th>{{ "Edit"|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {{ block('item') }}
      {% else %}
        <tr>
          <td colspan="6">
            {{ "There is no dead links."|trans }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{#
            /** @var $item NodeReference */
            $fieldName = $item->getFieldName();
            if ($info = field_info_field($fieldName)) {
                $fieldName = $info['label'];
            }
 #}
