<div class="ucms-contrib-cart">
  <div class="ucms-cart">
    <div class="col-md-12">
      <h2 class="sr-only">{{ "Your cart"|t }}</h2>
      {{ actions }}
      {{ display }}
    </div>
    <div id="{{ css_id }}" class="ucms-cart-list" {% if can_receive %}data-can-receive="1" {% endif %}class="clearfix">
      {{ items }}
    </div>
  </div>
  {% if can_receive %}
    <div id="ucms-cart-trash" class="progress-bar-danger progress-bar-striped">
      <span class="glyphicon glyphicon-trash"></span>
    </div>
  {% endif %}
</div>
