{% extends '@calista/page/page.html.twig' %}

{% block item %}
<tr>
  <td>{{ item.site.type }}</td>
  <td>{{ item.site.hostname|escape }}</td>
  <td>{{ item.site.adminTitle|escape }}</td>
  <td>{{ item.site.state|ucms_site_state }}</td>
  <td>
    {{ calista_actions(item) }}
  </td>
</tr>
{% endblock %}

{% block item_list %}
<div class="col-md-12">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{ "Type"|trans }}</th>
        <th>{{ "Hostname"|trans }}</th>
        <th>{{ "Title"|trans }}</th>
        <th>{{ "State"|trans }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {{ block('item') }}
      {% else %}
        <tr>
          <td colspan="5">
            {{ "There is no sites attached to this group yet."|trans }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}