{% extends '@calista/page/page.html.twig' %}

{% block item %}
<tr>
  <td>
    {{ item.title|escape }}
    {% if item.isMeta %}
      <span class="pull-right">
        <span class="fa fa-thumb-tack" data-toggle="tooltip" title="{{ "This is the default group"|trans }}"></span>&nbsp;
      </span>
    {% endif %}
  </td>
  <td>{% if item.isGhost %}{{ "invisible"|trans }}{% else %}{{ "visible"|trans }}{% endif %}</td>
  <td>{{ item.createdAt|time_diff }}</td>
  <td>{{ item.changedAt|time_diff }}</td>
  <td>
    {{ calista_actions(item) }}
  </td>
</tr>
{% endblock %}

{% block item_list %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{ "Title"|trans }}</th>
        <th>{{ "Default status"|trans }}</th>
        <th>{{ "Created"|trans }}</th>
        <th>{{ "Changed"|trans }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {{ block('item') }}
      {% else %}
        <tr>
          <td colspan="7">
            {% block empty %}{{ "There is no groups yet."|trans }}{% endblock %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}