{% if account.picture %}
  <div class="media">
    <div class="media-left">
      {{ picture }}
    </div>
    <div class="media-body">
      <h1 class="media-heading">{{ account.name }}</h1>
      <a href="mailto:{{ account.mail }}">{{ account.mail }}</a>
    </div>
  </div>
{% else %}
  <h1 class="media-heading">{{ account.name }}</h1>
  <a href="mailto:{{ account.mail }}">{{ account.mail }}</a>
{% endif %}
{{ details_table }}
