<div class="media">
  <div class="media-left">
    {{ picture }}
  </div>
  <div class="media-body">
    <h1 class="media-heading">{{ account.name }}</h4>
    <a href="mailto:{{ account.mail }}">{{ account.mail }}</a>
  </div>
</div>
{{ details_table }}
