{% extends 'module:udashboard:views/Page/page.html.twig' %}

{% block item %}
  <tr>
    <td>{{ item.path }}</td>
    <td>{{ item.siteAdminTitle }}</td>
    <td>{% if item.hasExpiryDate %}{{ item.expiresAt|date }}{% else %}<em>{{ "Never"|trans }}</em>{% endif %}</td>
    <td>
      {{ udashboard_actions(item) }}
    </td>
  </tr>
{% endblock %}

{% block item_list %}
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>{{ "Old path"|trans }}</th>
        <th>{{ "Site"|trans }}</th>
        <th>{{ "Expires" }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {{ block('item') }}
      {% else %}
        <tr>
          <td colspan="3">
            {{ "This content has not SEO redirect."|trans }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{#
            $siteLabel = '<em>' . $this->t("None") . '</em>';
            if ($item->site_id && isset($sites[$item->site_id])) {
                $site = $sites[$item->site_id];
                $siteLabel = l($site->title, 'admin/dashboard/site/' . $site->getId());
            }

            $rows[] = [
                check_plain($item->path),
                $siteLabel,
                theme('udashboard_actions', ['actions' => $this->getActions($item)]),
            ];
 #}
