{% extends 'module:udashboard:views/Page/page.html.twig' %}

{% block item %}
  <tr>
    <td>{{ item.route }}</td>
    <td>{{ item.node_title }}</td>
    <td>{% if item.is_protected %}{{ "Yes" }}{% endif %}</td>
    <td>{% if item.is_outdated %}<strong>{{ "Yes" }}</strong>{% endif %}</td>
    <td>
      {{ calista_actions(item) }}
    </td>
  </tr>
{% endblock %}

{% block item_list %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{ "Alias"|trans }}</th>
        <th>{{ "Content"|trans }}</th>
        <th>{{ "Custom" }}</th>
        <th>{{ "Outdated" }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {{ block('item') }}
      {% else %}
        <tr>
          <td colspan="7">
            {{ "This site contains not SEO alias."|trans }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
