{% extends 'module:udashboard:views/Page/page.html.twig' %}

{% block item %}
  <tr>
    <td>{{ item.adminTitle }}</td>
    <td>{{ item.ts_created|time_diff }}</td>
    <td>{{ item.state|ucms_site_state }}</td>
    <td>
      {% if item.state == constant('MakinaCorpus\\Ucms\\Site\\SiteState::ON') %}
        {{ calista_button({icon: 'share-alt', title: "View"|t, uri: ucms_site_url(item)}) }}
      {% elseif item.state == constant('MakinaCorpus\\Ucms\\Site\\SiteState::REQUESTED') %}
        {{ calista_button({icon: 'share-alt', title: "Go to request"|t, uri: ucms_site_url(item)}) }}
      {% endif %}
    </td>
  </tr>
{% endblock %}

{% block item_list %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{ "Title"|trans }}</th>
        <th>{{ "Request date"|trans }}</th>
        <th>{{ "Status"|trans }}</th>
        <th>{{ "Link"|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {{ block('item') }}
      {% else %}
        <tr>
          <td colspan="6">
            {{ "There is no dead links."|trans }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
