{% extends '@calista/page/page.html.twig' %}

{% block item %}
  <tr>
    <td>{{ item.mail|escape }}</td>
    <td>{{ item.displayName|escape }}</td>
    <td>{% if item.status %}{{ "Enabled"|trans }}{% else %}{{ "Disabled"|trans }}{% endif %}</td>
    <td>{{ item.created|time_diff }}</td>
    <td>{% if item.login %}{{ item.login|time_diff }}{% else %}{{ "Never"|trans }}{% endif %}</td>
    <td>
      {{ calista_actions(item) }}
    </td>
  </tr>
{% endblock %}

{% block item_list %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{ "Email"|trans }}</th>
        <th>{{ "Name"|trans }}</th>
        <th>{{ "Status"|trans }}</th>
        <th>{{ "Created"|trans }}</th>
        <th>{{ "Last connection"|trans }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {{ block('item') }}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
