{% extends '@ucms_dashboard/page/page-table.html.twig' %}

{% block item_list %}
    <table>
        <thead>
            {% with {label: "Id."|t, field: 's.id'} %}
                {{ block('table_header') }}
            {% endwith %}
            {% with {label: "Name"|t, field: 's.title'} %}
                {{ block('table_header') }}
            {% endwith %}
            {% with {label: "Type"|t, field: 's.type'} %}
                {{ block('table_header') }}
            {% endwith %}
            {% with {label: "Hostname"|t, field: 's.http_host'} %}
                {{ block('table_header') }}
            {% endwith %}
            {% with {label: "State"|t, field: 's.state'} %}
                {{ block('table_header') }}
            {% endwith %}
            <th></th>
        </thead>
        <tbody>
            {% for item in items %}
                {{ block('item') }}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{%- block item -%}
    <tr>
        <td>{{ item.id }}</td>
        <td>
          {{ item.adminTitle }}<br/>
          <small>{{ item.title }}</small>
        </td>
        <td>{{ ucms_site_type(item.type) }}</td>
        <td>{{ item.hostname }}</td>
        <td>{{ ucms_site_state(item.state) }}</td>
        <td>{{ ucms_actions(item) }}</td>
    </tr>
{%- endblock -%}
