{% extends 'module:ucms_dashboard:views/Page/page.html.twig' %}

{% block item %}
  {% set node = item.node %}
  <div class="ucms-cart-item" draggable="true" data-nid="{{ item.nodeId }}" data-bundle="{{ node.type }}">
    {{ node_view(node, constant('UCMS_VIEW_MODE_FAVORITE')) }}
  </div>
{% endblock %}

{% block page %}
  {# @todo removed all filters and displays, will be restored later #}
  <div class="ucms-contrib-cart" data-page="{{ uuid }}">
    <div class="ucms-cart">
      <h2 class="sr-only">{{ "Your cart"|t }}</h2>
      <div {% block css_id %}id="ucms-cart-list" data-can-receive="1" {% endblock %}class="ucms-cart-list" data-page-block="item_list">
        {{ block('item_list') }}
      </div>
      {% block trash %}
        <div id="ucms-cart-trash" class="progress-bar-danger progress-bar-striped">
          <span class="glyphicon glyphicon-trash"></span>
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block item_list %}
  {% for item in items %}
    {{ block('item') }}
  {% endfor %}
{% endblock %}
