<div class="col-md-12">
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>{{ "Source"|trans }}</th>
        <th>{{ "Target"|trans }}</th>
        <th>{{ "Type"|trans }}</th>
        <th>{{ "Field"|trans }}</th>
        <th>{{ "Changed"|trans }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr class="{% if not item.targetExists %}danger{% endif %}">
          <td>
            <a href="{{ path('node/'~item.sourceId) }}">
              {{ item.sourceTitle }}<br/>
              {% set time = item.sourceUpdatedAt|time_diff %}
              {% set name = ucms_user_name(item.sourceUserId) %}
              <small>
                {{ ucms_content_type(item.sourceId) }},
                {{ "updated @time ago by @name"|trans({'@time': time, '@name': name}) }}
              </small>
            </a>
          </td>
          <td>
            {% if item.targetExists %}
              <a href="{{ path('node/'~item.targetId) }}">
                {{ item.targetTitle }}<br/>
                <small>
                  {{ ucms_content_type(item.targetId) }}
                </small>
              </a>
            {% else %}
              <a href="">
                {{ "Deleted content \#@id"|trans({'@id': item.targetId}) }}
              </a>
            {% endif %}
          </td>
          <td>
            {{ item.type }}
          </td>
          <td>
            {{ item.fieldName }}
          </td>
          <td>
            {{ item.touchedAt|time_diff }}
          </td>
          <td>
            {{ ucms_actions(item) }}
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="6">
            {% block empty %}{{ "There is no links."|trans }}{% endblock %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>