{% extends 'module:udashboard:views/Page/page.html.twig' %}

{% block item %}
  <tr>
    <td>{{ item.title }}</td>
    <td>{{ entity_bundle('node', item.bundle) }}</td>
    <td>{% if item.changedTime %}{{ item.changedTime|time_diff }}{% else %}{{ "Never"|trans }}{% endif %}</td>
    <td>{% if item.isPublished %}{{ "Published"|trans }}{% endif %}</td>
    <td>
      <a href="{{ path('node/' ~ item.id) }}" title="{{ "View"|trans }}" class=" btn btn-default">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        <span class="sr-only">{{ "View"|trans }}</span>
      </a>
    </td>
  </tr>
{% endblock %}

{% block item_list %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{ "Title"|trans }}</th>
        <th>{{ "Type"|trans }}</th>
        <th>{{ "Updated"|trans }}</th>
        <th>{{ "Status"|trans }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {{ block('item') }}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

