<div id="privacy-settings">
  <h1>{{ "Privacy settings"|trans }}</h1>

  <p>
    {{ "While you are browsing our website, information may be read or registered."|trans }}
  </p>
  <p>
    {{ "Do you approve that your cookies can be read for analytic trackers purpose ?"|trans }}
  </p>

  <div class="form-group">
    <div class="radio">
      <label>
        <input class="ucms-privacy-yes" name="ucms-privacy" value="yes" type="radio">
        {{ "Yes"|trans }}
      </label>
      <label>
        <input class="ucms-privacy-no" name="ucms-privacy" value="no" type="radio">
        {{ "No"|trans }}
      </label>
    </div>
    </div>
</div>
