{% extends '@calista/page/page.html.twig' %}

{% block item %}
  {% if item.node %}
    {% set node = item.node %}
  {% else %}
    {% set node = item %}
  {% endif %}
  <div class="ucms-cart-item" data-item-type="node" data-item-bundle="{{ node.bundle }}" data-item-id="{{ node.nid }}">
    {{ node_view(node, constant('CALISTA_VIEW_MODE_FAVORITE')) }}
  </div>
{% endblock %}

{% block cart_header %}
  {% if input.isSearchEnabled %}
    <div data-page-block="search_form">
      {{ block('search_form') }}
    </div>
  {% endif %}
  {% if 1 < input.allowedSorts|length %}
    <div data-page-block="sort_links">
      {{ block('sort_links') }}
    </div>
  {% endif %}
{% endblock %}

{% block page_layout %}
  {# @todo removed all filters and displays, will be restored later #}
  <div class="ucms-cart">
    <header>
      <h2 class="sr-only">{{ "Your cart"|t }}</h2>
      {{ block('cart_header') }}
    </header>
    <div data-page-block="item_list">
      {{ block('item_list') }}
    </div>
  </div>
{% endblock %}

{% block item_list %}
  <div class="ucms-cart-list" data-layout-source="1">
    {% for item in items %}
      {{ block('item') }}
    {% endfor %}
  </div>
{% endblock %}
