{% extends 'module:udashboard:views/Page/page.html.twig' %}

{% block item %}
  <tr>
    <td>{{ item.type|ucms_site_type }}</td>
    <td>{{ item.http_host }}</td>
    <td>{{ item.adminTitle }}</td>
    <td>{{ item.state|ucms_site_state }}</td>
    <td>{{ item.ts_created|time_diff }}</td>
    <td>{{ item.ts_changed|time_diff }}</td>
    <td>{# isset($accountMap[$site->uid]) ? check_plain(format_username($accountMap[$site->uid])) : '' #}</td>
    <td>
      {{ udashboard_actions(item) }}
    </td>
  </tr>
{% endblock %}

{% block item_list %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{ "Type"|trans }}</th>
        <th>{{ "Hostname"|trans }}</th>
        <th>{{ "Title"|trans }}</th>
        <th>{{ "State"|trans }}</th>
        <th>{{ "Created"|trans }}</th>
        <th>{{ "Last update"|trans }}</th>
        <th>{{ "Owner"|trans }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {{ block('item') }}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
